@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  background-color: #fff;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 90px;
  z-index: 1000;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.left img {
  width: 40px;
  height: 32px;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  color: #555;
  font-size: 16px;
  font-weight: 500;
}

.nav a:hover {
  color: orange;
}

.logbtn {
  display: flex;
  gap: 15px;
}

.login, .start {
  border-radius: 10px;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.login {
  background: transparent;
  color: #5A7FFF;
  border: 2px solid #5A7FFF;
}

.start {
  background: #5A7FFF;
  color: white;
  border: none;
}



.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 60px;
  padding: 130px 120px 60px;
  background-image: linear-gradient(to right, rgba(249, 211, 230, 0.3), rgba(180, 225, 227, 0.3));
  position: relative;
  max-width: 2000px;
  margin: auto;
}

.text-sec {
  text-align: left;
  position: relative;
}


.linethree {
  position: absolute;
}

.text-sec h1 {
  font-size: 42px;
  font-weight: 700;
  color: #000;
  position: relative;
  max-width: 900px;
}

.highlight {
  color: #3E6AE1;
}

.curvyline {
  position: absolute; 
  left: 225px;
  width: 250px;
}

.curvyline img {
  width: 100%;
}

.text-sec p {
  font-size: 18px;
  color: #101010;
  font-weight: 400;
  max-width: 570px;
  line-height: 1.6;
  margin-top: 40px;
}


.features {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 35px 0;
}

.icon {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #333;
}

.icon img {
  width: 30px;
  height: 30px;
}

.explore-button {
  background: #5A7FFF;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 500;
  padding: 18px 30px;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 30px;
}

.image-sec {
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

.image-sec img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

@media (min-width: 1440px) {
  .container {
    gap: 80px;
    padding: 140px 150px 70px;
  }
  .text-sec h1 {
    font-size: 42px;
    max-width: 700px;
  }
  .text-sec p {
    font-size: 18px;
    max-width: 650px;
  }
  .image-sec img {
    max-width: 650px;
  }
 
  .linethree {
    width: 50px;
    height: 55px;
    top: -25px;
    left: -20px;
  }
}

@media (max-width: 1200px) {
  .container {
    gap: 50px;
    padding: 110px 80px;
  }
}

@media (max-width: 992px) {
  .container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .text-sec {
    text-align: center;
    margin-bottom: 40px;
  }
  .curvyline {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .linethree {
    top: -10px;
    left: -5px;
    width: 40px;
    height: 45px;
  }
}



.video-container {
  text-align: center;
  padding-top: 90px;
  background-color: #f9f9f9;
}

.video-container h2 {
  font-size: 28px;
  font-weight: bold;
  color: #121214;
}

.layout {
  display: grid;
  grid-template-columns: auto minmax(800px, 75vw) auto; 
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.left-layout {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 10px;
}

.left-layout .left-arrow {
  width: 84px;
  height: 633px;
}

.dots {
  width: 153px; 
  height: auto;
  margin-top: 30px; 
}

.right-layout {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
}

.right-layout .right-arrow {
  width: 84px;
  height: 633px;
}


.center-video {
  display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: auto;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
}

.center-video img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}






.page-c {
  text-align: center;
  padding: 50px 5vw; 
  background-color: #f7f9ff;
}

.page-c-heading h2 {
  font-size: 28px;
  font-weight: bold;
  color: #121214;
  margin-bottom: 30px;
  padding-top: 40px;
  margin-top: 20px;
}

.grid-a, .grid-b {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, auto);
  gap: 40px;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.card {
  padding: 20px;
  text-align: left;
  min-height: 220px; 
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.card img {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 20px;
  color: #121214;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.card p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  max-width: 320px;
}
@media (min-width: 1300px) { 
  .grid-container {
      max-width: 1400px; 
  }
}

@media (max-width: 1280px) {
  .grid-container {
      max-width: 1200px;
  }
}

@media (max-width: 1024px) {
  .grid-container {
      grid-template-columns: repeat(3, 1fr); 
  }
}

@media (max-width: 800px) { 
  .grid-container {
      grid-template-columns: repeat(3, 1fr);}
}





.page-d { 
  display: flex;
}


.left-content {
  flex: 1;
  text-align: left;
}

.flyrocket {
  width: 369px; 
}

.left-content h1 {
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  padding-bottom: 20px;
  padding-left: 30px;
}

.step {
  padding-bottom: 20px;
}

.step-badge {
  display: inline-block;
  background-color: #c8f6e6;
  color: #008545;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 8px;
}

.left-content h2 {
  font-size: 18px;
  padding-bottom: 5px;
  font-weight: 400;
}

.left-content p {
  font-size: 16px;
  color: #666;
}



.right-content img {
  width: 417px;
  height: 375px; 
  flex: 1; 
  padding-right: 300px;
}











.footer {
  background-image: linear-gradient(180deg,#0d1226,  #0d1226);
  color: #ffffff;
  padding:100px 200px ;
  font-family: 'Poppins';
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.logotext{
  display: flex;
  gap: 10px;  /*gap between logo and text*/  
}

.footer-left {
  max-width: 300px;
}

.footer-logo {
  width: 40px;
  height: 32px;
  padding-bottom: 10px;
}

.footer-descript {
  margin-top: 30px;
  font-size: 16px;
  opacity: 0.8;
  padding-bottom: 25px;
  font-weight: 200;
}
.social-icons{
  display: flex;
  margin-top: 30px;
  gap: 20px;
  padding-bottom: 25px;
}


.footer-middle {
  display: flex;
  gap: 100px;
}

.footer-column h3 {
  font-size: 16px;
  padding-bottom: 40px;
}

.footer-column a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 200;
  padding-bottom: 40px;
  opacity: 0.8;
}


.footer-right h3 {
  font-size: 16px;
  padding-bottom: 40px;
}

.footer-right p {
  font-size: 16px;
  padding-bottom: 25px;
  opacity: 0.8;
  font-weight: 200;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  font-size: 14px;
  opacity: 0.9;
}
.line{
  border-top: 1px #c0c0c0;
  opacity: 0.3;
  margin-top: 90px;
}
.footer p{
  font-size: 14px;
  color: #c0c0c0 ;
}

.footer-links a {
  color: #ffffff;
  padding-left: 15px;
  text-decoration: none;
  gap: 100px;
}
