@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  overflow-x: hidden;
  
}
body::-webkit-scrollbar {
  display: none;
} 


.nav {
  display: flex;
  gap: 30px;
}
.nav a {
  text-decoration: none;
  color: #555555;
  font-size: 16px;
  font-weight: 500;
}
.top {
  font-family: 'Poppins';font-size: 18px;
  color: #393A3F;
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding: 20px 30px;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  background-color: #ffffff;
}
.left{
  display: flex;
  align-items: center;
  justify-content:center;
  padding-left: 30px;
  gap: 10px;
  
}


.left img {
  width: 40px; 
  height: 32px;
}
.button{
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  
}
.logbtn{
  display: flex;
  gap: 15px;
  padding-right: 30px;
} 
.login {
  background: transparent;
  color: #5A7FFF;
  border: 2px solid #5A7FFF;
  border-radius: 10px;  
  padding: 8px 25px;  
}
.login:hover {
  background: #5A7FFF;
  color: white;
}
.start {
  background: #5A7FFF;
  color: white;
  border: #5A7FFF;
  border-radius: 10px;  
  padding: 8px 25px;  
}
.start:hover {
  background: #3E6AE1;
  border: #3E6AE1;
}





.container {
    display: flex;  
    align-items: center;    
    justify-content: space-between;
    background-image: linear-gradient(to right, rgba(249, 211, 230, 0.3), rgba(180, 225, 227, 0.3));
    padding: 100px;

}
.text-sec {
  flex: 1;  
  padding-bottom: 60px;
  text-align: left;
}
.linethree{
  padding-top: 30px;
  width: 35px;
  height: 41px;
}

.curvyline{
  padding-left: 330px;
}

.image-sec img {
  width: 550px; 
  height: 455px; 
  flex: 1; 
  align-items: center;
  padding-right: 100px;
  
}
.text-sec h1 {
  font-size: 48px;
  font-weight: 700;
  color: #000;
  padding-left: 30px;
}

.highlight {
  color: #3E6AE1; 
  font-weight: 700;
}



.text-sec p {
  font-size: 18px;
  color: #101010;
  font-weight: 400; 
  width: 600px; 
  align-items: start; 
  padding-left: 33px;
  padding-top: 30px;
}

.features {
  display: flex;  
  padding-top: 30px; 
  padding-bottom: 50px;
  padding-left: 30px;
  gap: 20px;
}

.icon {
  display: inline-flex; 
  align-items: center; 
  gap: 8px;  
  font-size: 16px;
  color: #333; 

}

.icon img {
  width: 25px; 
  height: 25px;
  vertical-align: baseline;
}


.explore-button {
  background: #5A7FFF;
  color: white;
  border: none;
  font-size: 15px;
  font-weight: 500;
  padding: 15px 25px;
  border-radius: 10px;
  cursor: pointer;
  padding-left: 30px;
}

.explore-button:hover {
  background: #3E6AE1;
}




.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;  
  background-image: linear-gradient(to right, rgba(255, 229, 242, 0.3), rgba(223, 253, 254, 0.3));
  text-align: center;
  
}



.video-container h2 {
  padding-top: 100px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px; 
}

.left-layout,
.right-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-arrow,
.right-arrow {
    width: 84px;
    height: 633px;
    max-width: 10vw; 
}

.dots {
    width: 153px;
    height: 50px;
    margin-top: 20px;
}


.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    max-width: 900px; 
    background-color: #e6e8ea;
    border-radius: 10px;
}

.video {
    width: 100%;
    height: auto;
    border-radius: 10px;
}




.video-title {
  background-color: #0d1226;
  color: white;
  padding: 15px;
  font-size: 16px;
  text-align: center;
  width: 1022px;
  border-radius: 5px;
}









.page-c {
 
  padding: 100px 200px;
  background-color: #f7f9ff;
  height: 600px;
  overflow-y: hidden;
}


.page-c-heading h2 {
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 30px;
  text-align: center;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  text-align: center;
}


.card {
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}


.card img {
  width: 50px;
  height: 50px;
  padding-bottom: 15px;
}


.card h3 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 30px;
  color: #121214;
}


.card p {
  font-size: 16px;
  color: #666;
  text-align: left;
}









.page-d { 
  display: flex;
  align-items: center;
  justify-content: center;
}


.left-content {
  flex: 1;
  padding-left: 200px;
  text-align: left;
}

.flyrocket {
  width: 369px; 
}

.left-content h1 {
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  padding-bottom: 20px;
  padding-left: 30px;
}

.step {
  padding-bottom: 20px;
}

.step-badge {
  display: inline-block;
  background-color: #c8f6e6;
  color: #008545;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 8px;
}

.left-content h2 {
  font-size: 18px;
  padding-bottom: 5px;
  font-weight: 400;
}

.left-content p {
  font-size: 16px;
  color: #666;
}



.right-content img {
  width: 417px;
  height: 375px; 
  flex: 1; 
  padding-right: 300px;
}











.footer {
  background-image: linear-gradient(180deg,#0d1226,  #0d1226);
  color: #ffffff;
  padding:100px 200px ;
  font-family: 'Poppins';
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.logotext{
  display: flex;
  gap: 10px;  /*gap between logo and text*/  
}

.footer-left {
  max-width: 300px;
}

.footer-logo {
  width: 40px;
  height: 32px;
  padding-bottom: 10px;
}

.footer-descript {
  margin-top: 30px;
  font-size: 16px;
  opacity: 0.8;
  padding-bottom: 25px;
  font-weight: 200;
}
.social-icons{
  display: flex;
  margin-top: 30px;
  gap: 20px;
  padding-bottom: 25px;
}


.footer-middle {
  display: flex;
  gap: 100px;
}

.footer-column h3 {
  font-size: 16px;
  padding-bottom: 40px;
}

.footer-column a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 200;
  padding-bottom: 40px;
  opacity: 0.8;
}

.footer-column a:hover {
  opacity: 1;
}

.footer-right h3 {
  font-size: 16px;
  padding-bottom: 40px;
}

.footer-right p {
  font-size: 16px;
  padding-bottom: 25px;
  opacity: 0.8;
  font-weight: 200;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  font-size: 14px;
  opacity: 0.9;
}
.line{
  border-top: 1px #c0c0c0;
  opacity: 0.3;
  margin-top: 90px;
}
.footer p{
  font-size: 14px;
  color: #c0c0c0 ;
}

.footer-links a {
  color: #ffffff;
  padding-left: 15px;
  text-decoration: none;
  gap: 100px;
}
